.blog {
	padding-top: 133px;
	min-height: 620px;
	background-repeat: no-repeat;
	// background-size: cover;
	background-position: bottom center;
	background-image: url('../images/blog/bg.jpg');
	&__item {
		width: 370px;
		min-height: 420px;
		border-radius: 4px;
		background-repeat: no-repeat;
		background-position: top center;
		background-image: url('../images/blog/one.jpg');
		background-color: #fff;
		padding-top: 233px;
		padding-left: 30px;
		&:nth-child(2) {
			background-image: url('../images/blog/two.jpg');
		}
		&:nth-child(3) {
			background-image: url('../images/blog/three.jpg');
		}
	}
	&__item-author {
		@extend %Rubik-400;
		font-size: 12px;
		color: #222933;
	}
	&__item-date {
		@extend %Rubik-400;
		font-size: 12px;
		margin-right: 30px;
		color: #222933;
	}
	&__item-label {
		text-transform: uppercase;
		@extend %Poppins-700;
		background-color: #a3bbc8;
		color: #fff;
		font-size: 12px;
		padding: 10px 30px;
		display: inline-block;
		line-height: 1;
		border-radius: 14px;
		margin-bottom: 18px;
	}
	&__item-text {
		width: 298px;
		height: 77px;
		@extend %DMSans-500;
		font-size: 18px;
		line-height: 22px;
		color: $title-color;
		padding-bottom: 10px;
		border-bottom: 1px solid #e0e0e0;
		margin-bottom: 20px;
	}
	&__link {
		margin-left: auto;
		display: inline-block;
		@extend %DMSans-700;
		font-size: 16px;
		color: #262626;
		padding-right: 25px;
		position: relative;
		line-height: 1;
		&::after {
			content: '';
			width: 7px;
			height: 12px;
			background-image: url(../images/blog/link_arr.png);
			position: absolute;
			bottom: -50%;
			transform: translateY(-10px);
			right: 0;
		}
	}
	&__wrapper {
		width: 1170px;
		margin: 0 auto;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__title {
		display: inline-block;
		margin-right: auto;
		margin-bottom: 0;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 40px;
	}
}
