.footer {
	width: 100%;
	height: auto;
	background-color: #fff;
	@extend %Rubik-400;
	color: $default-color;
	font-size: 14px;
	&__container {
		width: 1170px;
		margin: 0 auto;
	}
	&__account,
	&__services,
	&__subscribe {
		padding-top: 20px;
		display: flex;
		flex-direction: column;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 37px;
	}
	&__contact {
		width: 100%;
		max-width: 190px;
		margin-right: 108px;
	}
	&__contact-adress {
		color: $default-color;
		margin-top: 25px;
		margin-bottom: 20px;
		line-height: 24px;
	}
	&__contact-phone {
		color: $default-color;
		display: block;
		margin-bottom: 20px;
		line-height: 0;
	}
	&__contact-mail {
		color: $default-color;
	}
	&__copy {
	}
	&__form {
		display: flex;
	}
	&__form-input {
		border: none;
		width: 170px;
		height: 38px;
		background-color: #fef7f0;
		padding: 15px;
		&::placeholder {
			color: #234969;
			font-size: 12px;
			@extend %DMSans-400;
		}
	}
	&__form-submit {
		width: 100px;
		height: 38px;
		border: none;
		background-color: #a3bbc8;
		color: #fff;
		font-size: 14px;
		@extend %DMSans-400;
	}
	&__inner {
		padding-top: 80px;
		padding-bottom: 42px;
	}
	&__link {
		color: $default-color;
		line-height: 14px;
	}
	&__link + .footer__link {
		margin-top: 20px;
	}
	&__mnu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__mnu-item {
		border-left: 1px solid $default-color;
		padding: 0 15px;
		line-height: 16px;
	}
	&__mnu-item:nth-child(1) {
		border: none;
	}
	&__mnu-item a {
		color: $default-color;
	}
	&__subscribe {
		width: 270px;
	}
	&__text {
		line-height: 24px;
		margin-bottom: 40px;
	}
	&__title {
		font-size: 16px;
		line-height: 21px;
		text-transform: uppercase;
		color: #1f2044;
		margin-bottom: 30px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 106px;
		border-bottom: 1px solid #dae4e9;
	}
}
.logo {
	&__img {
	}
	&__text {
	}
}
