body {
 color: $default-color;
 font-size: 16px;
 line-height: 26px;
 background-color: rgb(189, 189, 189);
 @extend %DMSans-400;
}

.container {
 width: 1770px;
 margin: 0 auto;
 padding: 0 15px;
 // border: 1px solid #000;
}
