.partners {
	width: 100%;

	background-color: #fef7f0;
	&__img {
	}
	&__inner {
		width: 1170px;
		margin: 0 auto;
		min-height: 266px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
