.products {
	padding: 75px 0 85px;
	text-align: center;
	&__content {
		display: grid;
		min-height: 800px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 30px;
	}
	&__content-item {
		background-color: #fff;
		border-radius: 10px;
		padding: 27px 0 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	}
	&__filter,
	ul.products__filter {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 30px;
		margin-bottom: 80px;
	}
	&__filter-item {
	}
	&__img {
		min-height: 272px;
		img {
			width: 100%;
		}
	}
	&__name {
		margin-bottom: 17px;
		@extend %DMSans-500;
		color: $accent-color;
	}
	&__price {
		@extend %DMSans-700;
		color: #a3bbc8;
	}
	&__wrapper {
		width: 1170px;
		margin: 0 auto;
	}
}
