// Цвета
$default-color: #7b7b7b; //цвет по умолчанию
$title-color: #191919; //цвет заглавий
$accent-color: #243f4d; //акцентный цвет

// Шрифты
%DMSans-400 {
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}

%Rubik-500 {
	font-family: 'Rubik-Medium', sans-serif;
	font-weight: 500;
}

%DMSans-700 {
	font-family: 'DMSans-Bold', sans-serif;
	font-weight: 700;
}

%Rubik-400 {
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}

%DMSans-500 {
	font-family: 'DMSans-Medium', sans-serif;
	font-weight: 500;
}
