// Цвета
$default-color: #8d8d8d; //цвет по умолчанию
$title-color: #29282d; //цвет заглавий
$accent-color: #fe3e57; //акцентный цвет

// Шрифты
%quicksand-400 {
 font-family: 'Quicksand-Regular', sans-serif;
 font-weight: 400;
}
