.video {
	min-height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url('../images/video/bg.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	&__play {
	}
}
