.widgets {
	text-align: center;
	background-color: #fcd7b6;
	padding: 96px 84px;
	&__inner {
		@extend %md_container;
		display: flex;
		justify-content: space-aroundb;
		align-items: center;
	}
	&__item {
	}
	&__item-img {
		text-align: center;
		min-height: 64px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 23px;
		position: relative;
		img {
			margin: 0 auto;
			z-index: 1;
		}
		&::after {
			content: '';
			position: absolute;
			width: 33px;
			height: 33px;
			background-color: #a3bbc8;
			border-radius: 50%;
			bottom: 0;
			right: -12px;
		}
	}
	&__item-num {
		@extend %DMSans-700;
		font-size: 36px;
		color: $accent-color;
		line-height: 0.7;
		margin-bottom: 25px;
	}
	&__item-text {
		@extend %DMSans-700;
		font-size: 18px;
		color: $accent-color;
		line-height: 0.7;
	}
}
